{% load bootstrap5 %} {% load static%}
<doctype html>
  <html>
    <head>
      <meta charset="utf-8" />

      {% if title %}
      <title>Gallery - {{title}}</title>
      {% else %}
      <title>Gallery</title>
      {% endif %} {% block styles %}
      <!-- CSS only -->
      {% bootstrap_css %}
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
      />
      
      <!-- <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> -->
      {% endblock %} {% block scripts %} {% bootstrap_javascript %}
      <!-- JavaScript Bundle with Popper -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
      ></script>
      
      <script src="{% static 'css/js/scripts.js'%}"></script>
      {% endblock %}
    </head>

    <body>
      {% include "navbar.html" %} {% block content %} {%endblock%}
    </body>
  </html></doctype
>
